@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif !important;
}

body {
    margin: 20px;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    @apply bg-theme-light-background dark:bg-theme-dark-background text-theme-light-text dark:text-theme-dark-text;
}